@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Serif+Pro&display=swap');
:root {
    --cor-bg-principal: #fbfbfb;
    --cor-bg-neutral: #4169e1;
    --cor-bg-dark: #000;
    --cor-bg-alert: rgb(236, 131, 32);
}


/* ::-webkit-scrollbar-track {
    background-color: #D87501;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #D87501;
}

::-webkit-scrollbar-thumb {
    background: #FFC13C;
} */


/* mudar no dia do projeto por n ter o chrome */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

body {
    font-family: 'Source Serif Pro', serif;
}

.container {
    margin: auto;
    width: 80%;
}

header {
    background-color: var(--cor-bg-principal);
    padding: 1rem;
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    z-index: 5 !important;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--cor-bg-dark);
}

li {
    display: inline-block;
    padding: 1em;
}

li :hover {
    font-weight: 600;
}

.home {
    background-image: url(imgs/scott-webb-gWerBZuKM9c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 7.5em 0;
}

.home .container h1 {
    padding: 4em 0 0 0;
    color: white;
    text-transform: uppercase;
    font-size: 5em;
    width: 75%;
}

.home .container p {
    color: white;
    width: 80%;
    font-size: 2em;
    padding: 2em;
}

@media screen and (max-width: 1280px) {
     :root {
        font-size: 12px;
    }
}

.home .container button {
    color: white;
    font-size: 1.4em;
    background-color: var(--cor-bg-neutral);
    padding: 1em 3em 1em 3em;
    border-style: none;
    border-radius: 3px;
}

.home .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding-right: 30%;
}

.benefits {
    position: relative;
}

.benefits .container .box-itens {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: 10rem 0 10rem 0;
}

.benefits .container .box-itens p {
    width: 45%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.benefits .container img {
    width: 15%;
    padding: 1rem;
}

.benefits .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.benefits .container h1 {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 2rem;
    font-size: 3em;
    text-align: center;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.benefits button {
    position: absolute;
    color: white;
    font-size: 1.4em;
    background-color: var(--cor-bg-neutral);
    padding: 2em 1em 2em 1em;
    border-style: none;
    border-radius: 3px;
}

.btn_right {
    right: 0;
    bottom: 40%;
}

.btn_left {
    left: 0;
    bottom: 40%;
}

#bg_img {
    padding: 0;
    position: absolute;
    z-index: -5 !important;
    bottom: 0;
    text-align: center;
    width: 80%;
}

.sobre-mim {
    background-image: url(imgs/fundoeu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.sobre-mim .container {
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20rem 0 15rem 0;
}

.sobre-mim .container h1 {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 2rem;
    text-align: center;
}

.sobre-mim .container p {
    width: 60%;
    font-size: 1.1em;
}

.wrapper {
    position: relative;
    background-image: url(imgs/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .container {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.wrapper .container h1 {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 2rem;
    text-align: center;
}

.chart-wrapper {
    width: 30em;
    padding: 11rem 0 14rem 0;
}

.imc-calculator {
    position: relative;
    background-image: url(imgs/fundo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-bg-principal);
}

.imc-calculator .container {
    font-size: 2em;
    display: flex;
    flex-flow: row;
    padding: 7.5em 0 7.5em 0;
}

.imc-calculator .container h1 {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 2rem;
    text-align: center;
}

.chart-wrapper-2 {
    width: 30em;
}

#alert_box,
#imc_result {
    position: absolute;
}

#imc_result {
    top: 19.5em;
    bottom: 1%;
    right: 66%;
    left: 10%;
    color: var(--cor-bg-principal);
    font-weight: bolder;
}

#alert_box {
    top: 9.5em;
    bottom: 19em;
    right: 60%;
    left: 10%;
    color: var(--cor-bg-alert);
    font-weight: bolder;
}

.box-calculator {
    /* dps eu vejo */
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.box-calculator input {
    font-size: 2rem;
    padding: .5rem 1.5rem;
    border-style: none;
    border-radius: 4px;
    margin: .1em;
}

.box-calculator button {
    color: var(--cor-bg-principal);
    font-size: 2rem;
    margin: 0.2rem;
    padding: 1em 1em;
    border-style: none;
    border-radius: 2px;
    background-color: var(--cor-bg-neutral);
}

.biotypes {
    position: relative;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.biotypes .container {
    font-size: 2em;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.biotypes .container h1 {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 2rem;
    text-align: center;
}

.biotypes-box {
    text-align: center;
    width: 30%;
    margin: auto;
    padding: 19rem 0 9rem 0;
}

.biotypes-box img {
    width: 40%;
}

.biotypes-box h2 {
    padding: 1rem;
}

.body-dashboard::-webkit-scrollbar {
    display: none;
}

.body-dashboard {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dashboard {
    position: relative;
    display: flex;
    font-family: 'Source Serif Pro', serif;
    background-image: url(imgs/pexels-anush-gorak-1229356.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.table-dash {
    background: rgb(90, 90, 90);
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    border-right: 3px solid black;
    height: 100%;
}

.table-row a {
    color: var(--cor-bg-principal);
}

.table-row a:hover {
    color: var(--cor-bg-neutral);
}

.table-row {
    padding: 1.7em 1em 1.7em 1em;
}

.table-column {
    display: flex;
    flex-flow: column;
    padding: 0 0 17.39em 0;
}

.dash-content-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-content-profile .dash-content {
    text-align: center;
    width: 60%;
}

.dash-content .profile .chart-wrapper {
    width: 1000px;
    padding: 0;
}

.dash-content .icon-profile {
    text-align: center;
}

.dash-content .icon-profile img {
    border-radius: 50%;
    width: 10em;
}

.dashboard .fa-sign-out-alt {
    font-size: 3em;
    position: absolute;
    bottom: 0;
    margin: 1em;
    color: var(--cor-bg-principal);
}

.dashboard .fa-user {
    font-size: 3em;
    position: absolute;
    bottom: 2em;
    margin: 1em;
    color: var(--cor-bg-principal);
}

.dashboard i:hover {
    color: var(--cor-bg-neutral);
}

.dashboard .profile-icon {
    font-size: 1px;
    position: absolute;
    bottom: 0;
    margin: 1.3em;
    color: var(--cor-bg-principal);
}

.dash-content {
    font-weight: 500;
    margin: 4em;
    padding: 3em;
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    background: var(--cor-bg-principal);
}

.logo {
    text-align: center;
    font-size: 2em;
    padding: 1em;
}

.instagram-media {
    height: 45em;
}

.insta-video h1 {
    padding: 1em;
    font-family: 'Archivo Black', sans-serif;
}

.insta-video {
    font-size: 2em;
    margin: 2em;
    width: 70%;
    text-align: center;
}

.box-login {
    padding: 13.5rem;
    text-align: center;
    font-size: 2em;
}

.box-login h1 {
    margin: 1em;
}

.contato .container h1 {
    margin: 3em 0 0 0;
    font-size: 1.5em
}

.formulario {
    padding: 7rem;
}

.extra {
    text-align: center;
    padding: .5rem;
    font-size: 5rem;
}

#img_aguarde {
    display: none;
}

.pag-login .container {
    display: flex;
    justify-content: center;
}

.input-padrao {
    height: 3em;
    width: 15em;
    margin: .5em;
    border-radius: 6px;
    text-align: center;
}

.btn-green {
    padding: 1rem 2rem;
    margin: 1em 0 2em 0;
    color: white;
    background-color: var(--cor-bg-neutral);
    border-style: none;
    border-radius: 3px;
}

.contato .container {
    text-align: center;
    font-size: 2em;
}

footer {
    border-top: 2px solid black;
    background-color: var(--cor-bg-principal);
    font-size: .9em;
}

footer .container {
    text-align: center;
}

footer .container p {
    margin: .5em;
}

footer .container h2 {
    margin: .5em;
}

footer .container i {
    font-size: 6em;
    padding: 0 .1em 0 .1em;
}

footer .container i:hover {
    color: var(--cor-bg-neutral);
}